.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #004d00;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 90px;
    padding: 10px;
}
.footer > div {
     width: 120px;
     height: 70px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
     background-color: white;
     font-weight: bold;
}
