.offer-card{
    position: relative;
    text-align: center;

}
.offer-card > img {
    width: 104px;
    height: 67px;
}
.offer-container{
    display: flex;
    justify-content: space-between;
    height: 90px;
}
